html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: relative;
  /* width: 60%; */
  /* height: 100%; */
}

#canvasContainer {
  position: absolute;
  width: 50%;
  height: 50%;
}

body {
  /* background-color: rgb(255, 255, 255); */
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  /* align-items: center; */
  align-items: center;
  /* top: 40%; */
  justify-content: center;
  background-image: url(img/winter-bloom-wide.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vh;
  height: 100vh;
}

#content {
  display: flex;
  /* top: 20%; */
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  /* font-size: 10vh; */
  color: white;
  text-transform: uppercase;
}

#button-start {
  position: absolute;
  color: white;
  background-color: lightblue;
  border: none;
  border-radius: 100px;
  transition: 0.3s;
  top: 60%;
  font-size: 7vh;
  opacity: 0.7;
}

h1 {
  /* font-size: 50px; */
  /* position: relative; */
  top: 30%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#text1 {
  position: absolute;
  top: 10%;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button.hover {
  background-color: darkcyan;
  transition: 0.7s;
}

p {
  margin: 0px;
  padding: 0px;
  /* top: 100%; */
}

.description {
  position: relative;
  top: 30%;
  /* left: 30%; */
  font-size: 24px;
  /* left: 10% */
  text-align: center;
  /* transform: translate(0, 450%); */
  /* top: calc(30%); */
  /* position: relative; */
}

/*
.project {
  position: relative;
  font-size: 30px;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  padding: 20px;
  margin: 15px;
  border-style: solid;
}
*/